{% block sw_blog_list %}
	<sw-page class="sw-blog-list">
		{% block sw_blog_list_smart_bar_actions %}
			<template #smart-bar-actions>
				<sw-button variant="primary" :routerLink="{ name: 'sw.blog.create' }">
					<p>
						{{$tc('sw-blog.list.buttonAddBlog')}}
					</p>
				</sw-button>
			</template>
		{% endblock %}
		<template #content>
			{% block sw_blog_list_content %}
				<sw-entity-listing :items="blog" :repository="repository" :showselection="false" :columns="columns" :is-loading="isLoading" :allow-edit="true" :allow-inline-edit="true" :allow-delete="true"></sw-entity-listing>
			{% endblock %}
		</template>
	</sw-page>
{% endblock %}
